# macOS
.DS_Store

# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
.expo/
.expo-shared/
android/
ios/

# Build output
build/
dist/
*.jsbundle
web-build/
*.hmap
*.ipa
*.apk

# Xcode
xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xccheckout
*.moved-aside
DerivedData/
project.xcworkspace/
.xcode.env.local

# Android Studio
*.iml
.gradle
/local.properties
/.idea
.DS_Store
.cxx/

# VS Code
.vscode/

# Metro, Babel, Jest
.cache/
babel.config.js
jest.config.js
coverage/

# Environment files
.env
.env.local
.env.*.local

# CocoaPods
Pods/
Podfile.lock

# Expo EAS
*.tar.gz
eas.json

# Misc
*.log
npm-debug.log*
yarn.lock

# macOS system files
Icon?
._*
.Spotlight-V100
.Trashes